<div class="improve-article-wrapper">
  <div class="improve-article-message">
    <h3>Like to contribute?</h6>
    <p class="improve-article">This content is open source. <br />
   Please <a href="{{ site.github_edit_post_repo }}/edit/master/{{ page.path }}" title="Help improve article {{ page.path }}">help improve it</a>.</p>
  </div>
  <div class="improve-article-edit">
     <a class="btn btn-primary btn-lg" href="{{ site.github_edit_post_repo }}/edit/master/{{ page.path }}" title="Help improve article {{ page.path }}">Edit</a>
  </div>
</div>