.main_content {
    display: flex;
    flex-wrap: wrap;
}

.idea_box {
    padding: 5px;
}
.idea {
    padding: 5px;
    --start-color: #ddd;
    transition-timing-function: ease-in-out;
    border: 2px solid var(--start-color);
    color: var(--start-color);
}

.personal {
    --end-color: green;
}

.completed {
    --start-color: var(--end-color);
}